<div *ngIf="user">
  <h2>{{ user.firstName | uppercase }} Details</h2>
  <div><span>id: </span>{{user.userId}}</div>
  <div><span>firstname: </span>{{user.firstName}}</div>
  <div><span>lastname: </span>{{user.lastName}}</div>
  <div><span>role: </span>{{user.role}}</div>
  <div><span>status: </span>{{user.status}}</div>
  <div><span>status: </span>{{user.password}}</div>
  <div><span>status: </span>{{user.salt}}</div>


  <div>
    <label>name:
      <input [(ngModel)]="user.firstName" placeholder="name">
    </label>
  </div>
</div>
