<h2>Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    <span class="badge">{{user.firstname}}</span> {{user.lastname}} <br>
  </li>
</ul>

<div *ngIf="selectedUser">
  <h2>{{ selectedUser.firstname | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedUser.email}}</div>
  <div><span>firstname: </span>{{selectedUser.firstname}}</div>
  <div><span>firstname: </span>{{selectedUser.lastname}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedUser.firstname" placeholder="name">
    </label>
  </div>

</div>

